
**Loading required libraries**

In [ ]:
%pip install plotnine

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier,  BaggingClassifier, GradientBoostingClassifier
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay, classification_report, accuracy_score, precision_score, recall_score, make_scorer
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import StackingClassifier
from sklearn.neural_network import MLPClassifier
from plotnine import *
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

**Loading source datasets and data preprocessing**

In [3]:
old_season_cols = ["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","LBH","LBD","LBA","PSH","PSD","PSA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"]
bundes_new_season_cols = ["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR","AvgH","AvgD","AvgA","AvgC>2.5","AvgC<2.5"]
laliga_new_season_cols = ["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR","AvgH","AvgD","AvgA","Avg>2.5","Avg<2.5"]
seriea_new_season_cols = ["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR","AvgH","AvgD","AvgA","Avg>2.5","Avg<2.5"]
pl_new_season_cols = ["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR","AvgH","AvgD","AvgA","Avg>2.5","Avg<2.5"]

'''Bundesliga'''
bundes_1011 = pd.read_csv('./data/preprocessing/bundesliga/bundes10-11.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","LBH","LBD","LBA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
bundes_1112 = pd.read_csv('./data/preprocessing/bundesliga/bundes11-12.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","LBH","LBD","LBA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
bundes_1213 = pd.read_csv('./data/preprocessing/bundesliga/bundes12-13.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","LBH","LBD","LBA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
bundes_1314 = pd.read_csv('./data/preprocessing/bundesliga/bundes13-14.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","LBH","LBD","LBA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
bundes_1415 = pd.read_csv('./data/preprocessing/bundesliga/bundes14-15.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","LBH","LBD","LBA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
bundes_1516 = pd.read_csv('./data/preprocessing/bundesliga/bundes15-16.csv', usecols=old_season_cols)
bundes_1617 = pd.read_csv('./data/preprocessing/bundesliga/bundes16-17.csv', usecols=old_season_cols)
bundes_1718 = pd.read_csv('./data/preprocessing/bundesliga/bundes17-18.csv', usecols=old_season_cols)
bundes_1819 = pd.read_csv('./data/preprocessing/bundesliga/bundes18-19.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","PSH","PSD","PSA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])

bundes_1920 = pd.read_csv('./data/preprocessing/bundesliga/bundes19-20.csv', usecols=bundes_new_season_cols)
bundes_2021 = pd.read_csv('./data/preprocessing/bundesliga/bundes20-21.csv', usecols=bundes_new_season_cols)
bundes_2122 = pd.read_csv('./data/preprocessing/bundesliga/bundes21-22.csv', usecols=bundes_new_season_cols)
bundes_2223 = pd.read_csv('./data/preprocessing/bundesliga/bundes22-23.csv', usecols=bundes_new_season_cols)

'''Laliga'''
laliga_1011 = pd.read_csv('./data/preprocessing/laliga/laliga10-11.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","LBH","LBD","LBA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
laliga_1112 = pd.read_csv('./data/preprocessing/laliga/laliga11-12.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","LBH","LBD","LBA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
laliga_1213 = pd.read_csv('./data/preprocessing/laliga/laliga12-13.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","LBH","LBD","LBA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
laliga_1314 = pd.read_csv('./data/preprocessing/laliga/laliga13-14.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","LBH","LBD","LBA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
laliga_1415 = pd.read_csv('./data/preprocessing/laliga/laliga14-15.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","LBH","LBD","LBA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
laliga_1516 = pd.read_csv('./data/preprocessing/laliga/laliga15-16.csv', usecols=old_season_cols)
laliga_1617 = pd.read_csv('./data/preprocessing/laliga/laliga16-17.csv', usecols=old_season_cols)
laliga_1718 = pd.read_csv('./data/preprocessing/laliga/laliga17-18.csv', usecols=old_season_cols)
laliga_1819 = pd.read_csv('./data/preprocessing/laliga/laliga18-19.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","PSH","PSD","PSA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
laliga_1920 = pd.read_csv('./data/preprocessing/bundesliga/bundes19-20.csv', usecols=laliga_new_season_cols)
laliga_2021 = pd.read_csv('./data/preprocessing/bundesliga/bundes20-21.csv', usecols=laliga_new_season_cols)
laliga_2122 = pd.read_csv('./data/preprocessing/bundesliga/bundes21-22.csv', usecols=laliga_new_season_cols)
laliga_2223 = pd.read_csv('./data/preprocessing/bundesliga/bundes22-23.csv', usecols=laliga_new_season_cols)


'''Serie A'''
seriea_1011 = pd.read_csv('./data/preprocessing/seriea/seriea10-11.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","LBH","LBD","LBA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
seriea_1112 = pd.read_csv('./data/preprocessing/seriea/seriea11-12.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","LBH","LBD","LBA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
seriea_1213 = pd.read_csv('./data/preprocessing/seriea/seriea12-13.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","LBH","LBD","LBA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
seriea_1314 = pd.read_csv('./data/preprocessing/seriea/seriea13-14.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","LBH","LBD","LBA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
seriea_1415 = pd.read_csv('./data/preprocessing/seriea/seriea14-15.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","LBH","LBD","LBA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
seriea_1516 = pd.read_csv('./data/preprocessing/seriea/seriea15-16.csv', usecols=old_season_cols)
seriea_1617 = pd.read_csv('./data/preprocessing/seriea/seriea16-17.csv', usecols=old_season_cols)
seriea_1718 = pd.read_csv('./data/preprocessing/seriea/seriea17-18.csv', usecols=old_season_cols)
seriea_1819 = pd.read_csv('./data/preprocessing/seriea/seriea18-19.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","PSH","PSD","PSA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
seriea_1920 = pd.read_csv('./data/preprocessing/seriea/seriea19-20.csv', usecols=seriea_new_season_cols)
seriea_2021 = pd.read_csv('./data/preprocessing/seriea/seriea20-21.csv', usecols=seriea_new_season_cols)
seriea_2122 = pd.read_csv('./data/preprocessing/seriea/seriea21-22.csv', usecols=seriea_new_season_cols)
seriea_2223 = pd.read_csv('./data/preprocessing/seriea/seriea22-23.csv', usecols=seriea_new_season_cols)


'''Premier League'''
pl_1011 = pd.read_csv('./data/preprocessing/premierleague/premierleague10-11.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","LBH","LBD","LBA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
pl_1112 = pd.read_csv('./data/preprocessing/premierleague/premierleague11-12.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","LBH","LBD","LBA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
pl_1213 = pd.read_csv('./data/preprocessing/premierleague/premierleague12-13.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","LBH","LBD","LBA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
pl_1314 = pd.read_csv('./data/preprocessing/premierleague/premierleague13-14.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","LBH","LBD","LBA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
pl_1415 = pd.read_csv('./data/preprocessing/premierleague/premierleague14-15.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","LBH","LBD","LBA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
pl_1516 = pd.read_csv('./data/preprocessing/premierleague/premierleague15-16.csv', usecols=old_season_cols)
pl_1617 = pd.read_csv('./data/preprocessing/premierleague/premierleague16-17.csv', usecols=old_season_cols)
pl_1718 = pd.read_csv('./data/preprocessing/premierleague/premierleague17-18.csv', usecols=old_season_cols)
pl_1819 = pd.read_csv('./data/preprocessing/premierleague/premierleague18-19.csv', usecols=["Div","Date", "HomeTeam", "AwayTeam","FTHG","FTAG","FTR","HTHG","HTAG","HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR", 
        "B365H","B365D","B365A","BWH","BWD","BWA","IWH","IWD","IWA","PSH","PSD","PSA","WHH","WHD","WHA","VCH","VCD","VCA", "BbAvH", "BbAvD", "BbAvA",
        "BbAv>2.5","BbAv<2.5"])
pl_1920 = pd.read_csv('./data/preprocessing/premierleague/premierleague19-20.csv', usecols=pl_new_season_cols)
pl_2021 = pd.read_csv('./data/preprocessing/premierleague/premierleague20-21.csv', usecols=pl_new_season_cols)
pl_2122 = pd.read_csv('./data/preprocessing/premierleague/premierleague21-22.csv', usecols=pl_new_season_cols)
pl_2223 = pd.read_csv('./data/preprocessing/premierleague/premierleague22-23.csv', usecols=pl_new_season_cols)

Variables sampling, data transforming etc.

In [4]:
'''Bundesliga matches statistics datasets preprocessing'''

df_1 = [bundes_1011, bundes_1112, bundes_1213, bundes_1314, bundes_1415]

columnsH_1 = ['B365H', 'BWH', 'IWH', 'LBH', 'WHH', 'VCH', 'BbAvH']
columnsA_1 = ['B365A', 'BWA', 'IWA', 'LBA', 'WHA', 'VCA', 'BbAvA']
columnsD_1 = ['B365D', 'BWD', 'IWD', 'LBD', 'WHD', 'VCD', 'BbAvD']

for i, ds in enumerate(df_1):
    df_1[i]['AvgH'] = df_1[i][columnsH_1].mean(axis=1)
    df_1[i]['AvgA'] = df_1[i][columnsA_1].mean(axis=1)
    df_1[i]['AvgD'] = df_1[i][columnsD_1].mean(axis=1)
    df_1[i].rename(columns={"BbAv>2.5": "Avg>2.5"},inplace = True)
    df_1[i].rename(columns={"BbAv<2.5": "Avg<2.5"},inplace = True)
    df_1[i].drop(columnsH_1, inplace=True, axis=1)
    df_1[i].drop(columnsA_1, inplace=True, axis=1)
    df_1[i].drop(columnsD_1, inplace=True, axis=1)


datasets = [bundes_1516, bundes_1617, bundes_1718]

columnsH = ['B365H', 'BWH', 'IWH', 'LBH', 'PSH', 'WHH', 'VCH', 'BbAvH']
columnsA = ['B365A', 'BWA', 'IWA', 'LBA', 'PSA', 'WHA', 'VCA', 'BbAvA']
columnsD = ['B365D', 'BWD', 'IWD', 'LBD', 'PSD', 'WHD', 'VCD', 'BbAvD']

for i, ds in enumerate(datasets):
    datasets[i]['AvgH'] = datasets[i][columnsH].mean(axis=1)
    datasets[i]['AvgA'] = datasets[i][columnsA].mean(axis=1)
    datasets[i]['AvgD'] = datasets[i][columnsD].mean(axis=1)
    datasets[i].rename(columns={"BbAv>2.5": "Avg>2.5"},inplace = True)
    datasets[i].rename(columns={"BbAv<2.5": "Avg<2.5"},inplace = True)
    datasets[i].drop(columnsH, inplace=True, axis=1)
    datasets[i].drop(columnsA, inplace=True, axis=1)
    datasets[i].drop(columnsD, inplace=True, axis=1)

bundes_1819['AvgH'] = bundes_1819[['B365H', 'BWH', 'IWH', 'PSH', 'WHH', 'VCH', 'BbAvH']].mean(axis=1)
bundes_1819['AvgA'] = bundes_1819[['B365A', 'BWA', 'IWA', 'PSA', 'WHA', 'VCA', 'BbAvA']].mean(axis=1)
bundes_1819['AvgD'] = bundes_1819[['B365D', 'BWD', 'IWD', 'PSD', 'WHD', 'VCD', 'BbAvD']].mean(axis=1)
bundes_1819.drop(['B365H', 'BWH', 'IWH', 'PSH', 'WHH', 'VCH', 'BbAvH'], inplace=True, axis=1)
bundes_1819.drop(['B365A', 'BWA', 'IWA', 'PSA', 'WHA', 'VCA', 'BbAvA'], inplace=True, axis=1)
bundes_1819.drop(['B365D', 'BWD', 'IWD', 'PSD', 'WHD', 'VCD', 'BbAvD'], inplace=True, axis=1)
bundes_1819.rename(columns={"BbAv>2.5": "Avg>2.5"},inplace = True)
bundes_1819.rename(columns={"BbAv<2.5": "Avg<2.5"},inplace = True)


datasets = [bundes_1920, bundes_2021, bundes_2122, bundes_2223]

for i, ds in enumerate(datasets):
    datasets[i].rename(columns={"AvgC>2.5": "Avg>2.5"},inplace = True)
    datasets[i].rename(columns={"AvgC<2.5": "Avg<2.5"},inplace = True)

In [5]:
'''LaLiga matches statistics datasets preprocessing'''

df_1 = [laliga_1011, laliga_1112, laliga_1213, laliga_1314, laliga_1415]

columnsH_1 = ['B365H', 'BWH', 'IWH', 'LBH', 'WHH', 'VCH', 'BbAvH']
columnsA_1 = ['B365A', 'BWA', 'IWA', 'LBA', 'WHA', 'VCA', 'BbAvA']
columnsD_1 = ['B365D', 'BWD', 'IWD', 'LBD', 'WHD', 'VCD', 'BbAvD']

for i, ds in enumerate(df_1):
    df_1[i]['AvgH'] = df_1[i][columnsH_1].mean(axis=1)
    df_1[i]['AvgA'] = df_1[i][columnsA_1].mean(axis=1)
    df_1[i]['AvgD'] = df_1[i][columnsD_1].mean(axis=1)
    df_1[i].rename(columns={"BbAv>2.5": "Avg>2.5"},inplace = True)
    df_1[i].rename(columns={"BbAv<2.5": "Avg<2.5"},inplace = True)
    df_1[i].drop(columnsH_1, inplace=True, axis=1)
    df_1[i].drop(columnsA_1, inplace=True, axis=1)
    df_1[i].drop(columnsD_1, inplace=True, axis=1)

datasets = [laliga_1516, laliga_1617, laliga_1718]

columnsH = ['B365H', 'BWH', 'IWH', 'LBH', 'PSH', 'WHH', 'VCH', 'BbAvH']
columnsA = ['B365A', 'BWA', 'IWA', 'LBA', 'PSA', 'WHA', 'VCA', 'BbAvA']
columnsD = ['B365D', 'BWD', 'IWD', 'LBD', 'PSD', 'WHD', 'VCD', 'BbAvD']

for i, ds in enumerate(datasets):
    datasets[i]['AvgH'] = datasets[i][columnsH].mean(axis=1)
    datasets[i]['AvgA'] = datasets[i][columnsA].mean(axis=1)
    datasets[i]['AvgD'] = datasets[i][columnsD].mean(axis=1)
    datasets[i].rename(columns={"BbAv>2.5": "Avg>2.5"},inplace = True)
    datasets[i].rename(columns={"BbAv<2.5": "Avg<2.5"},inplace = True)
    datasets[i].drop(columnsH, inplace=True, axis=1)
    datasets[i].drop(columnsA, inplace=True, axis=1)
    datasets[i].drop(columnsD, inplace=True, axis=1)

laliga_1819['AvgH'] = laliga_1819[['B365H', 'BWH', 'IWH', 'PSH', 'WHH', 'VCH', 'BbAvH']].mean(axis=1)
laliga_1819['AvgA'] = laliga_1819[['B365A', 'BWA', 'IWA', 'PSA', 'WHA', 'VCA', 'BbAvA']].mean(axis=1)
laliga_1819['AvgD'] = laliga_1819[['B365D', 'BWD', 'IWD', 'PSD', 'WHD', 'VCD', 'BbAvD']].mean(axis=1)
laliga_1819.drop(['B365H', 'BWH', 'IWH', 'PSH', 'WHH', 'VCH', 'BbAvH'], inplace=True, axis=1)
laliga_1819.drop(['B365A', 'BWA', 'IWA', 'PSA', 'WHA', 'VCA', 'BbAvA'], inplace=True, axis=1)
laliga_1819.drop(['B365D', 'BWD', 'IWD', 'PSD', 'WHD', 'VCD', 'BbAvD'], inplace=True, axis=1)
laliga_1819.rename(columns={"BbAv>2.5": "Avg>2.5"},inplace = True)
laliga_1819.rename(columns={"BbAv<2.5": "Avg<2.5"},inplace = True)

In [6]:
'''SerieA matches statistics datasets preprocessing'''

df_1 = [seriea_1011, seriea_1112, seriea_1213, seriea_1314, seriea_1415]

columnsH_1 = ['B365H', 'BWH', 'IWH', 'LBH', 'WHH', 'VCH', 'BbAvH']
columnsA_1 = ['B365A', 'BWA', 'IWA', 'LBA', 'WHA', 'VCA', 'BbAvA']
columnsD_1 = ['B365D', 'BWD', 'IWD', 'LBD', 'WHD', 'VCD', 'BbAvD']

for i, ds in enumerate(df_1):
    df_1[i]['AvgH'] = df_1[i][columnsH_1].mean(axis=1)
    df_1[i]['AvgA'] = df_1[i][columnsA_1].mean(axis=1)
    df_1[i]['AvgD'] = df_1[i][columnsD_1].mean(axis=1)
    df_1[i].rename(columns={"BbAv>2.5": "Avg>2.5"},inplace = True)
    df_1[i].rename(columns={"BbAv<2.5": "Avg<2.5"},inplace = True)
    df_1[i].drop(columnsH_1, inplace=True, axis=1)
    df_1[i].drop(columnsA_1, inplace=True, axis=1)
    df_1[i].drop(columnsD_1, inplace=True, axis=1)

datasets = [seriea_1516, seriea_1617, seriea_1718]

columnsH = ['B365H', 'BWH', 'IWH', 'LBH', 'PSH', 'WHH', 'VCH', 'BbAvH']
columnsA = ['B365A', 'BWA', 'IWA', 'LBA', 'PSA', 'WHA', 'VCA', 'BbAvA']
columnsD = ['B365D', 'BWD', 'IWD', 'LBD', 'PSD', 'WHD', 'VCD', 'BbAvD']

for i, ds in enumerate(datasets):
    datasets[i]['AvgH'] = datasets[i][columnsH].mean(axis=1)
    datasets[i]['AvgA'] = datasets[i][columnsA].mean(axis=1)
    datasets[i]['AvgD'] = datasets[i][columnsD].mean(axis=1)
    datasets[i].rename(columns={"BbAv>2.5": "Avg>2.5"},inplace = True)
    datasets[i].rename(columns={"BbAv<2.5": "Avg<2.5"},inplace = True)
    datasets[i].drop(columnsH, inplace=True, axis=1)
    datasets[i].drop(columnsA, inplace=True, axis=1)
    datasets[i].drop(columnsD, inplace=True, axis=1)

seriea_1819['AvgH'] = seriea_1819[['B365H', 'BWH', 'IWH', 'PSH', 'WHH', 'VCH', 'BbAvH']].mean(axis=1)
seriea_1819['AvgA'] = seriea_1819[['B365A', 'BWA', 'IWA', 'PSA', 'WHA', 'VCA', 'BbAvA']].mean(axis=1)
seriea_1819['AvgD'] = seriea_1819[['B365D', 'BWD', 'IWD', 'PSD', 'WHD', 'VCD', 'BbAvD']].mean(axis=1)
seriea_1819.drop(['B365H', 'BWH', 'IWH', 'PSH', 'WHH', 'VCH', 'BbAvH'], inplace=True, axis=1)
seriea_1819.drop(['B365A', 'BWA', 'IWA', 'PSA', 'WHA', 'VCA', 'BbAvA'], inplace=True, axis=1)
seriea_1819.drop(['B365D', 'BWD', 'IWD', 'PSD', 'WHD', 'VCD', 'BbAvD'], inplace=True, axis=1)
seriea_1819.rename(columns={"BbAv>2.5": "Avg>2.5"},inplace = True)
seriea_1819.rename(columns={"BbAv<2.5": "Avg<2.5"},inplace = True)

In [7]:
'''Premier League matches statistics datasets preprocessing'''

df_1 = [pl_1011, pl_1112, pl_1213, pl_1314, pl_1415]

columnsH_1 = ['B365H', 'BWH', 'IWH', 'LBH', 'WHH', 'VCH', 'BbAvH']
columnsA_1 = ['B365A', 'BWA', 'IWA', 'LBA', 'WHA', 'VCA', 'BbAvA']
columnsD_1 = ['B365D', 'BWD', 'IWD', 'LBD', 'WHD', 'VCD', 'BbAvD']

for i, ds in enumerate(df_1):
    df_1[i]['AvgH'] = df_1[i][columnsH_1].mean(axis=1)
    df_1[i]['AvgA'] = df_1[i][columnsA_1].mean(axis=1)
    df_1[i]['AvgD'] = df_1[i][columnsD_1].mean(axis=1)
    df_1[i].rename(columns={"BbAv>2.5": "Avg>2.5"},inplace = True)
    df_1[i].rename(columns={"BbAv<2.5": "Avg<2.5"},inplace = True)
    df_1[i].drop(columnsH_1, inplace=True, axis=1)
    df_1[i].drop(columnsA_1, inplace=True, axis=1)
    df_1[i].drop(columnsD_1, inplace=True, axis=1)
    
datasets = [pl_1516, pl_1617, pl_1718]

columnsH = ['B365H', 'BWH', 'IWH', 'LBH', 'PSH', 'WHH', 'VCH', 'BbAvH']
columnsA = ['B365A', 'BWA', 'IWA', 'LBA', 'PSA', 'WHA', 'VCA', 'BbAvA']
columnsD = ['B365D', 'BWD', 'IWD', 'LBD', 'PSD', 'WHD', 'VCD', 'BbAvD']

for i, ds in enumerate(datasets):
    datasets[i]['AvgH'] = datasets[i][columnsH].mean(axis=1)
    datasets[i]['AvgA'] = datasets[i][columnsA].mean(axis=1)
    datasets[i]['AvgD'] = datasets[i][columnsD].mean(axis=1)
    datasets[i].rename(columns={"BbAv>2.5": "Avg>2.5"},inplace = True)
    datasets[i].rename(columns={"BbAv<2.5": "Avg<2.5"},inplace = True)
    datasets[i].drop(columnsH, inplace=True, axis=1)
    datasets[i].drop(columnsA, inplace=True, axis=1)
    datasets[i].drop(columnsD, inplace=True, axis=1)

pl_1819['AvgH'] = pl_1819[['B365H', 'BWH', 'IWH', 'PSH', 'WHH', 'VCH', 'BbAvH']].mean(axis=1)
pl_1819['AvgA'] = pl_1819[['B365A', 'BWA', 'IWA', 'PSA', 'WHA', 'VCA', 'BbAvA']].mean(axis=1)
pl_1819['AvgD'] = pl_1819[['B365D', 'BWD', 'IWD', 'PSD', 'WHD', 'VCD', 'BbAvD']].mean(axis=1)
pl_1819.drop(['B365H', 'BWH', 'IWH', 'PSH', 'WHH', 'VCH', 'BbAvH'], inplace=True, axis=1)
pl_1819.drop(['B365A', 'BWA', 'IWA', 'PSA', 'WHA', 'VCA', 'BbAvA'], inplace=True, axis=1)
pl_1819.drop(['B365D', 'BWD', 'IWD', 'PSD', 'WHD', 'VCD', 'BbAvD'], inplace=True, axis=1)
pl_1819.rename(columns={"BbAv>2.5": "Avg>2.5"},inplace = True)
pl_1819.rename(columns={"BbAv<2.5": "Avg<2.5"},inplace = True)

In [8]:
pl_df = pd.concat([pl_1011, pl_1112, pl_1213, pl_1314, pl_1415, pl_1516, pl_1617,pl_1718, pl_1819, pl_1920, pl_2021, pl_2122, pl_2223])
bundes_df = pd.concat([bundes_1011, bundes_1112, bundes_1213, bundes_1314, bundes_1415, bundes_1516, bundes_1617,bundes_1718, bundes_1819, bundes_1920, bundes_2021, bundes_2122, bundes_2223])
laliga_df = pd.concat([laliga_1011, laliga_1112, laliga_1213, laliga_1314, laliga_1415, laliga_1516, laliga_1617, laliga_1718, laliga_1819, laliga_1920, laliga_2021, laliga_2122, laliga_2223])
seriea_df = pd.concat([seriea_1011, seriea_1112, seriea_1213, seriea_1314, seriea_1415, seriea_1516, seriea_1617, seriea_1718, seriea_1819, seriea_1920, seriea_2021, seriea_2122, seriea_2223])

data = [['Premier League', len(pl_df.index)], ['Bundesliga', len(bundes_df.index)], ['LaLiga', len(laliga_df.index)], ['Serie A', len(seriea_df. index)]]
df = pd.DataFrame(data, columns=['League','Number of games'])
  
df

           League  Number of games
0  Premier League             4847
1      Bundesliga             3906
2          LaLiga             4572
3         Serie A             4845

In [9]:
all_seasons = pd.concat([pl_df,bundes_df,laliga_df,seriea_df])

In [10]:
all_seasons.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AC,HY,AY,HR,AR,Avg>2.5,Avg<2.5,AvgH,AvgA,AvgD
0,E0,14/08/10,Aston Villa,West Ham,3.0,0.0,H,2.0,0.0,H,...,7.0,1.0,2.0,0.0,0.0,2.01,1.75,1.907143,4.141429,3.328571
1,E0,14/08/10,Blackburn,Everton,1.0,0.0,H,1.0,0.0,H,...,3.0,2.0,1.0,0.0,0.0,2.08,1.70,2.840000,2.467143,3.250000
2,E0,14/08/10,Bolton,Fulham,0.0,0.0,D,0.0,0.0,D,...,8.0,1.0,3.0,0.0,0.0,2.09,1.69,2.192857,3.295714,3.258571
3,E0,14/08/10,Chelsea,West Brom,6.0,0.0,H,2.0,0.0,H,...,1.0,1.0,0.0,0.0,0.0,1.49,2.49,1.158571,17.352857,6.907143
4,E0,14/08/10,Sunderland,Birmingham,2.0,2.0,D,1.0,0.0,H,...,6.0,3.0,3.0,1.0,0.0,2.16,1.65,2.140000,3.427143,3.242857

Expanding dataset with new variables

In [11]:
all_seasons['TSRH'] = all_seasons['HST']/all_seasons['HS']
all_seasons['TSRA'] = all_seasons['AST']/all_seasons['AS']

In [12]:
all_seasons.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18170 entries, 0 to 279
Data columns (total 29 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       18164 non-null  object
 1   Date      18164 non-null  object
 2   HomeTeam  18164 non-null  object
 3   AwayTeam  18164 non-null  object
 4   FTHG      18164 non-null  float64
 5   FTAG      18164 non-null  float64
 6   FTR       18164 non-null  object
 7   HTHG      18162 non-null  float64
 8   HTAG      18162 non-null  float64
 9   HTR       18162 non-null  object
 10  HS        18163 non-null  float64
 11  AS        18163 non-null  float64
 12  HST       18163 non-null  float64
 13  AST       18163 non-null  float64
 14  HF        18163 non-null  float64
 15  AF        18163 non-null  float64
 16  HC        18163 non-null  float64
 17  AC        18163 non-null  float64
 18  HY        18162 non-null  float64
 19  AY        18163 non-null  float64
 20  HR        18163 non-null  float64
 21  AR        18163 non-null  float64
 22  Avg>2.5   18162 non-null  float64
 23  Avg<2.5   18162 non-null  float64
 24  AvgH      18163 non-null  float64
 25  AvgA      18163 non-null  float64
 26  AvgD      18163 non-null  float64
 27  TSRH      18162 non-null  float64
 28  TSRA      18154 non-null  float64
dtypes: float64(23), object(6)
memory usage: 4.2+ MB

Missing Data analysis

In [13]:
all_seasons.isnull().values.any()

True

In [14]:
all_seasons.replace([np.inf, -np.inf], np.nan, inplace=True)

In [15]:
all_seasons = all_seasons.dropna()

In [16]:
all_seasons.isnull().values.any()

False

In [17]:
all_seasons.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AY,HR,AR,Avg>2.5,Avg<2.5,AvgH,AvgA,AvgD,TSRH,TSRA
0,E0,14/08/10,Aston Villa,West Ham,3.0,0.0,H,2.0,0.0,H,...,2.0,0.0,0.0,2.01,1.75,1.907143,4.141429,3.328571,0.478261,0.166667
1,E0,14/08/10,Blackburn,Everton,1.0,0.0,H,1.0,0.0,H,...,1.0,0.0,0.0,2.08,1.70,2.840000,2.467143,3.250000,0.285714,0.705882
2,E0,14/08/10,Bolton,Fulham,0.0,0.0,D,0.0,0.0,D,...,3.0,0.0,0.0,2.09,1.69,2.192857,3.295714,3.258571,0.692308,0.583333
3,E0,14/08/10,Chelsea,West Brom,6.0,0.0,H,2.0,0.0,H,...,0.0,0.0,0.0,1.49,2.49,1.158571,17.352857,6.907143,0.722222,0.400000
4,E0,14/08/10,Sunderland,Birmingham,2.0,2.0,D,1.0,0.0,H,...,3.0,1.0,0.0,2.16,1.65,2.140000,3.427143,3.242857,0.333333,0.538462

In [18]:
all_seasons = all_seasons.replace('D1','Germany')
all_seasons = all_seasons.replace('E0','England')
all_seasons = all_seasons.replace('SP1','Spain')
all_seasons = all_seasons.replace('I1','Italy')

In [19]:
print(all_seasons.Div.unique().tolist())

['England', 'Germany', 'Spain', 'Italy']

In [20]:
all_seasons.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AY,HR,AR,Avg>2.5,Avg<2.5,AvgH,AvgA,AvgD,TSRH,TSRA
0,England,14/08/10,Aston Villa,West Ham,3.0,0.0,H,2.0,0.0,H,...,2.0,0.0,0.0,2.01,1.75,1.907143,4.141429,3.328571,0.478261,0.166667
1,England,14/08/10,Blackburn,Everton,1.0,0.0,H,1.0,0.0,H,...,1.0,0.0,0.0,2.08,1.70,2.840000,2.467143,3.250000,0.285714,0.705882
2,England,14/08/10,Bolton,Fulham,0.0,0.0,D,0.0,0.0,D,...,3.0,0.0,0.0,2.09,1.69,2.192857,3.295714,3.258571,0.692308,0.583333
3,England,14/08/10,Chelsea,West Brom,6.0,0.0,H,2.0,0.0,H,...,0.0,0.0,0.0,1.49,2.49,1.158571,17.352857,6.907143,0.722222,0.400000
4,England,14/08/10,Sunderland,Birmingham,2.0,2.0,D,1.0,0.0,H,...,3.0,1.0,0.0,2.16,1.65,2.140000,3.427143,3.242857,0.333333,0.538462

In [21]:
all_seasons.describe()

,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HF,AF,...,AY,HR,AR,Avg>2.5,Avg<2.5,AvgH,AvgA,AvgD,TSRH,TSRA
count,18149.000000,18149.000000,18149.000000,18149.000000,18149.000000,18149.000000,18149.000000,18149.000000,18149.000000,18149.000000,...,18149.000000,18149.000000,18149.000000,18149.000000,18149.000000,18149.000000,18149.000000,18149.000000,18149.000000,18149.000000
mean,1.584826,1.234228,0.702959,0.543501,13.906441,11.345914,5.194997,4.219241,12.876908,13.190809,...,2.169321,0.086341,0.113009,1.824523,2.104208,2.781486,4.695559,4.065549,0.377374,0.375714
std,1.334976,1.186752,0.854710,0.750905,5.276158,4.707784,2.826195,2.490943,4.336676,4.446931,...,1.393937,0.295408,0.338645,0.283532,0.488928,2.048291,4.162458,1.336202,0.162370,0.177941
min,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.420000,1.380000,1.033333,1.090000,1.400000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,10.000000,8.000000,3.000000,2.000000,10.000000,10.000000,...,1.000000,0.000000,0.000000,1.620000,1.780000,1.670000,2.400000,3.340000,0.266667,0.250000
50%,1.000000,1.000000,0.000000,0.000000,13.000000,11.000000,5.000000,4.000000,13.000000,13.000000,...,2.000000,0.000000,0.000000,1.810000,1.990000,2.172857,3.398571,3.583750,0.366667,0.363636
75%,2.000000,2.000000,1.000000,1.000000,17.000000,14.000000,7.000000,6.000000,16.000000,16.000000,...,3.000000,0.000000,0.000000,2.030000,2.270000,2.990000,5.210000,4.210000,0.481481,0.500000
max,10.000000,9.000000,6.000000,6.000000,46.000000,39.000000,24.000000,20.000000,33.000000,32.000000,...,9.000000,3.000000,3.000000,2.910000,6.750000,28.154286,42.338333,19.142500,1.000000,1.125000